<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <form class="sign_out" action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign Out">
  </form>
  <span class="welcome">Welcome, <%= current_user.username %></span>
<% end %>

<section>
<%= yield %>
<br>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="flash_errors"><%= error %></p>
    <% end %>
  <% end %>

</section>





</body>
</html>
